* {
  padding: 0;
  margin: 0;
}
img {
  margin-top: 1%;
}
p {
  margin-top: 1%;
  margin-left: 10px;
}
a {
  text-decoration: none;
}
a:visited {
  color: #444;
}
a:hover {
  color: red;
}
.body { 
width: 100%;
font-family: sans-serif;
color: #444;
}
.navigation {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  border-bottom: 2px solid #3fa13f;
  border-top: 2px solid #3fa13f;
}
.navSelect{
    margin-right: 20px;
}
.logo {
  display: flex;
  align-items: center;
}
.headerIMG {
  content: "";
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url(Fotos/13143_0c878e5c901bfb2e7e55dd661599a28c.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.7;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  border-bottom: 5px solid #3fa13f;
}
.fonas {
  content: "";
  position: absolute;
  margin: 350px 500px;
  background: #fff;
  width: 50%;
  height: 350px;
  z-index: -1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gydContainer{
    display: flex;
    gap: 100px;
    padding-bottom: 75px;
    border-bottom: 5px solid #3fa13f;
}
.gydContainer1 {
    margin-left: 4%;
    margin-right: 7%;
    width: 50%;
  margin-top: 5%;
  display:flex ;
  flex-direction:column;
  gap: 30px;
}
.gydContainer2{
    margin-left: 4%;
    margin-right: 7%;
    width: 50%;
    margin-top: 5%;
    display:flex ;
    flex-direction:column;
    gap: 30px;
}
.gyd1{
    display: flex;
    flex-direction: row;
}
.gyd2{
    display: flex;
    flex-direction: row;
}
.gyd3{
    display: flex;
    flex-direction: row;
}
.gyd4{
    display: flex;
    flex-direction: row;
}
.gyd5{
    display: flex;
    flex-direction: row;
}
.gyd6{
    display: flex;
    flex-direction: row;
}
.gydo1{
width: 200px;
height: 150px;
}
.gydo2{
width: 200px;
height: 150px;
}
.gydo3{
width: 200px;
height: 150px;
}
.gydo4{
width: 200px;
height: 150px;
}
.gydo5{
width: 200px;
height: 150px;
}
.gydo6{
width: 200px;
height: 150px;
}
h2{
    margin-top: 5%;
    text-align: center;
}
.name{
    font-weight: bold;
}
.nykContainer {
border-bottom: 5px solid #3fa13f;
padding-bottom: 75px;
margin-top: 5%;
display:flex ;
flex-direction:column;
gap: 50px;
}
.nykContainer1{
    margin-left: 4%;
    margin-right: 7%;
  margin-top: 5%;
  display:flex ;
  flex-direction:row;
  gap: 1%;
}
.nykContainer2{
    margin-left: 4%;
    margin-right: 7%;
  margin-top: 5%;
  display:flex ;
  flex-direction:row;
  gap: 1%;
}
.nyk1{
    display: flex;
    flex-direction: column;
}
.nyk2{
    display: flex;
    flex-direction: column;
}
.nyk3{
    display: flex;
    flex-direction: column;
}
.nyk4{
    display: flex;
    flex-direction: column;
}
.nyk5{
    display: flex;
    flex-direction: column;
}
.nyk6{
    display: flex;
    flex-direction: column;
}
.nyksta1{
width: 200px;
height: 150px;
}
.nyksta2{
width: 200px;
height: 150px;
}
.nyksta3{
width: 200px;
height: 150px;
}
.nyksta4{
 width: 200px;
height: 150px;
}
.nyksta5{
width: 200px;
height: 150px;
}
.nyksta6{
width: 200px;
height: 150px;
}
.miskuFoto{
    width: 100%;
    height: 350px;
    object-fit: cover
}
